<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{{url_for("static", filename='css/index.css')}}">
</head>
<body>
    <header>
        <nav class="">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="">Mision</a></li>
                <li><a href="">Equipo</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <div id="titulos">
                    <h1>Taller de Flask</h1>
                    <h6>Taller con letra pequeñita</h6>
                    <p>Soy un parrafo</p>
                    <ul>
                        <li>elemento 1</li>
                        <li>elemento 2</li>
                        <li>elemento 3</li>
                    </ul>
                    <ol>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ol>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div>

                </div>
            </article>
        </section>
    </main>
    <footer>
        <div><p>Taller de Flask  Oro Verde - 2024</p></div>
    </footer>
</body>
</html>